<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit()">
  <mat-card>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="model.email" required>
        <mat-error *ngIf="model.email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="model.password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit" color="primary">Sign In</button>
  </mat-card>
</form>

<div *ngIf="serverErrorMessages">{{serverErrorMessages}}</div>