<table *ngIf="userDetails">
  <tbody>
    <tr>
      <td class="fontBold">First Name: </td>
      <td>{{userDetails.fullName.split(' ')[0]}}</td>
    </tr>
    <tr>
      <td class="fontBold">Last Name: </td>
      <td>{{userDetails.fullName.split(' ')[1]}}</td>
    </tr>
    <tr>
      <td class="fontBold">Email: </td>
      <td>{{userDetails.email}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <button 
          mat-raised-button 
          (click)="onLogout()"
          color="primary"
          autofocus
        >
          Logout
        </button>
      </td>
    </tr>
  </tbody>
</table>